# ─── API ──────────────────────────────────────────────────────────────────────
# Em produção deixe vazio: o Nginx faz proxy de /api para o backend
# Em desenvolvimento aponte para o servidor local do backend
NEXT_PUBLIC_API_URL=http://localhost:3333
